<div class="tab-pane{% if active_tab == 'paypal' %} active{% endif %}" id="tab-paypal">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-paypal_enabled">{{ label_enabled }}</label>
        <div class="col-sm-10 checkbox">
            <label>
                <input id="input-paypal_enabled" type="checkbox" name="payment_globalpayments_paypal_enabled"
                       value="{{ payment_globalpayments_paypal_enabled }}"{% if (payment_globalpayments_paypal_enabled==1) %} checked{% endif %} /> {{ entry_enabled }}
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-paypal_title"><span data-toggle="tooltip" title="{{ help_title }}">{{ label_title }}</span></label>
        <div class="col-sm-10">
            <input id="input-paypal_title" type="text" name="payment_globalpayments_paypal_title"
                   value="{{ payment_globalpayments_paypal_title }}" placeholder="{{ placeholder_paypal_title }}" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-paypal_payment_action">
            <span data-toggle="tooltip" title="{{ help_payment_action }}">{{ label_payment_action }}</span>
        </label>
        <div class="col-sm-10">
            <select name="payment_globalpayments_paypal_payment_action" id="input-paypal_payment_action" class="form-control">
                <option value="charge" selected="selected">{{ entry_payment_action_charge }}</option>
                <option value="authorize" {{ payment_globalpayments_paypal_payment_action == 'authorize' ? 'selected' : '' }}>{{ entry_payment_action_authorize }}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-sort-order">{{ label_sort_order }}</label>
        <div class="col-sm-10">
            <input type="text" name="payment_globalpayments_paypal_sort_order" value="{{ payment_globalpayments_paypal_sort_order }}" placeholder="{{ label_sort_order }}" id="input-sort-order" class="form-control" />
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#input-paypal_enabled').on('change', this.toggleCheckboxValue.bind(this));
</script>
