<div class="tab-pane{% if active_tab == 'fasterpayments' %} active{% endif %}" id="tab-fasterpayments">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-fasterpayments_enabled">{{ label_enabled }}</label>
		<div class="col-sm-10 checkbox">
			<label>
				<input id="input-fasterpayments_enabled" type="checkbox" name="payment_globalpayments_fasterpayments_enabled"
				value="{{ payment_globalpayments_fasterpayments_enabled }}"{% if (payment_globalpayments_fasterpayments_enabled==1) %} checked{% endif %} /> {{ entry_enabled }}
			</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-fasterpayments_title"><span data-toggle="tooltip" title="{{ help_title }}">{{ label_title }}</span></label>
		<div class="col-sm-10">
			<input id="input-fasterpayments_title" type="text" name="payment_globalpayments_fasterpayments_title"
				value="{{ payment_globalpayments_fasterpayments_title }}" placeholder="{{ placeholder_fasterpayments_title }}" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-fasterpayments_payment_action">
			<span data-toggle="tooltip" title="{{ help_payment_action }}">{{ label_payment_action }}</span>
		</label>
		<div class="col-sm-10">
			<select name="payment_globalpayments_fasterpayments_payment_action_show" id="input-fasterpayments_payment_action" class="form-control" disabled="disabled">
				<option value="charge" selected="selected">{{ entry_payment_action_charge }}</option>
				<option value="authorize" {{ payment_globalpayments_fasterpayments_payment_action == 'authorize' ? 'selected' : '' }}>{{ entry_payment_action_authorize }}</option>
			</select>
			<input name="payment_globalpayments_fasterpayments_payment_action" type="hidden" value="charge">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-fasterpayments_account_number">{{ label_account_number }}</label>
		<div class="col-sm-10">
			<input id="input-fasterpayments_account_number" type="text" name="payment_globalpayments_fasterpayments_account_number" value="{{ payment_globalpayments_fasterpayments_account_number }}" class="form-control"/><br/>
			<p>{{ help_fasterpayments_account_number }}</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-fasterpayments_account_name">{{ label_account_name }}</label>
		<div class="col-sm-10">
			<input id="input-fasterpayments_account_name" type="text" name="payment_globalpayments_fasterpayments_account_name" value="{{ payment_globalpayments_fasterpayments_account_name }}" class="form-control"/><br/>
			<p>{{ help_fasterpayments_account_name }}</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-fasterpayments_sort_code">{{ label_sort_code }}</label>
		<div class="col-sm-10">
			<input id="input-fasterpayments_sort_code" type="text" name="payment_globalpayments_fasterpayments_sort_code" value="{{ payment_globalpayments_fasterpayments_sort_code }}" class="form-control"/><br/>
			<p>{{ help_fasterpayments_sort_code }}</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-fasterpayments_countries">{{ label_countries }}</label>
		<div class="col-sm-10">
			<input id="input-fasterpayments_countries" type="text" name="payment_globalpayments_fasterpayments_countries" value="{{ payment_globalpayments_fasterpayments_countries }}" class="form-control"/><br/>
			<p>{{ help_fasterpayments_countries }}</p>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('#input-fasterpayments_enabled').on('change', this.toggleCheckboxValue.bind(this));
</script>
